<template>

    <div v-if="loaded" class="information">
        <h1>Información del Usuario</h1>
        <h2>Nombre: <span>{{name}}</span></h2>
        <h2>Correo electrónico: <span>{{email}}</span></h2>
        <h2>Direccion: <span>{{address}}</span></h2>
        <h2>Telefono: <span>{{phone}}</span></h2>
    </div>

</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "User",

    data: function(){
        return {
            name: "",
            email: "",
            address: "",
            phone: "",
            loaded: false,
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();

            axios.get(`https://sharebook-despliege-be.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.name = result.data.name;
                    this.email = result.data.email;
                    this.address = result.data.address;
                    this.phone = result.data.phone;
                    this.loaded = true;
                    })
                .catch(() => {
                    this.$emit('logOut');
                });
        },

        verifyToken: function () {
            return axios.post("https://sharebook-despliege-be.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
                .then((result) => {
                    localStorage.setItem("token_access", result.data.access);
                })
                .catch(() => {
                    this.$emit('logOut');
                });
        }
    },

    created: async function(){
        this.getData();
    },
}
</script>

<style>
    .information{
        /* margin: 0;
        padding: 0%; */
        
        margin-inline: auto;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        border: 3px solid #72767a;
        border-radius: 10px;
        width: 25%;
        height: 60%;

    }

    .information h1{
        font-size: 20px;
        color: #0f1316;
    }

    .information h2{
        font-size: 15px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>



